/* Estilos generales */
body {
    max-width: 90vw;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 0;
    background: url(../img/Bushido_Copertina.webp) no-repeat ;
    background-size: cover;
    text-align: justify;
    line-height: 1.6;
}

/* Contenedor con CSS Grid */
.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

/* Botón del menú */
.box {
    background-color: #3498db;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s;
}

.box:hover {
    background-color: #2980b9;
}

/* Área de contenido */
.content {
    padding: 20px;
    background: rgba(192,192,192,0.3) ;
    margin-top: 20px;
    border-radius: 5px;
}

/* Ocultamos secciones excepto la inicial */
.hidden {
    display: none;
}

section img {
    float: right;
    padding: 0 1rem;
}
/* 📱 Responsividad */
@media (max-width: 599px) {
    .container {
        grid-template-columns: repeat(7, 1fr);
    }
    .box {
        padding: .3rem;;
        font-size: 12px;
    }
    section img.principal {
        display: none;
    }
}
@media (max-width: 800px) {
    body {
        background: none;  
    }
}
@media (min-width: 600px) and (max-width: 1023px) {
    .container {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(7, 1fr);
    }
}